.button {
  display: inline-block;
  padding: 16px 32px;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: $basic-white;
  background-color: $special-marine;
  border: none;
  transition: 0.2s;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $special-marine-light;
  }

  &:active {
    color: transparentize($basic-white, 0.7);
  }
}
