.page-header {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: $special-blue;
}

.page-header__promo {
  grid-row: 2/3;
  grid-column: 1/2;
}

.page-header__social {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: flex-end;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  min-height: 80px;
  padding-bottom: 30px;
}
