.place {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 24px;

  &::before,
  &::after {
    @include pseudo;

    left: 147px;

    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: $special-blue-dark;
  }

  &::before {
    top: 100px;
    content: "01";
  }

  &::after {
    top: 204px;
    content: "Место";
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
  }
}

.place__title {
  grid-column: 6/7;
}

.place__subtitle {
  grid-column: 5/9;
  padding-top: 36px;
}

.place__text {
  grid-column: 5/9;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;

  &--aside-right,
  &--aside-left {
    font-size: 14px;
    line-height: 24px;
  }

  &--aside-right {
    grid-column: 10/12;
  }

  &--aside-left {
    grid-column: 2/4;
  }
}

.place__img-box {
  &--min {
    grid-column: 5/9;
  }

  &--max {
    grid-column: 2/12;
  }
}

.place__img {
  display: block;
}

.place__blockquote {
  grid-column: 4/10;
  padding-left: 28px;
  margin: 8px 0;
  font-size: 22px;
  line-height: 40px;
  border-left: 2px solid $special-marine;
}

.place__link {
  grid-column: 5/8;
  justify-self: start;
  margin-top: 8px;
}
