.promo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

.promo__wrapper {
  &--text {
    grid-row: 1/-1;
    grid-column: 2/8;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    align-items: start;
    padding-top: 80px;
    z-index: 1;
  }

  &--slider {
    grid-row: 1/-1;
    grid-column: 6/13;
  }
}

.promo__title {
  padding-bottom: 12px;
  margin: 0;
  font-weight: bold;
  font-size: 44px;
  line-height: 62px;
}

.promo__text {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  padding-bottom: 40px;

  &--place {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    color: transparentize($basic-black, 0.7);
  }
}

.promo__link {
  justify-self: start;
}
