.subnavigation {
  display: flex;
}

.subnavigation__item {
  &:not(:last-child) {
    padding-right: 64px;
  }
}

.subnavigation__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.subnavigation__link {
  color: $special-marine;

  &:hover,
  &:focus {
    border-bottom: 1px solid $special-marine;
  }

  &:active {
    color: $special-marine-darkest;
    border-bottom: 1px solid $special-marine-darkest;
  }
}
