/* Viewports */

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

/* Color */
$basic-black: #000000;
$basic-white: #ffffff;

$special-blue: #f2f8fb;
$special-marine: #06a9b3;
$special-marine-darkest: #03484b;
